.timer-dialog.ui-dialog {
    background-color: #f86379 !important;
    position: fixed;
}
.timer-dialog.ui-dialog .ui-dialog-titlebar {
    background-color: #f86379 !important;
    font-size: large;
    color: #E3F1CF;
}
.timer-dialog.ui-dialog .ui-dialog-content {
    display: none !important;
}

.popup.ui-dialog .ui-dialog-titlebar{
    display: none;
}

.no-close .ui-dialog-titlebar-close {
    background-color: #3246db;
    display: none;
}

.ui-dialog {
    background-color: #003eff;
    position: absolute;
    z-index: 3000;
    width: 50%;
    height: 50%;
    border-radius: 10;
    border-radius: 20px;
}
.ui-dialog .ui-corner-all {
    border-radius: 20px;
}

.ui-dialog .ui-dialog-titlebar {
    background-color: #3246db;
    font-size: large;
    color: #E3F1CF;
}


.ui-dialog .ui-dialog-content {
	border: 0;
	padding: 5px;
    font-size: medium;
    color:#E3F1CF;
    background-color: #3246db;
    overflow: auto;
    border-radius: 20px;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: center;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
    padding: 5px 95px;
    background-color: #F86379;
    border-radius: 20px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
    
}
.ui-dialog .ui-dialog-buttonpane button {
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
    padding: 7px 25px;
	cursor: pointer;
    font-size: 20px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 20px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .strike_accepted
{
    font-size:15px;
    color: #FFFFFF;
    width: 150px;
    background: #F86379;
    
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .strike_ignored
{
    font-size:15px;
    color: #FFFFFF;
    width: 150px;
    background: #F86379;
}

.popup-img{
    margin-left: 20px;
    margin-top: 40px;
    height:180px;
    width: auto;
    align-items: center;
}