.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding: 10px;
  
}
#logo1 {
  height: 10vmin;;
}

@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  background-color: #3246db;
  min-width: 200px;
  min-height: 300px; /* your desired width */
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px);
  color: white;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

#main-body{
  font-size: calc(12px);
  padding: 5px 15px;
}

.button {
  border-radius: 5px;
  background-color: #f86379;
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px 3px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#notification-period {
  border-radius: 3px;
  background-color: #f86379;
  color: white;
  padding: 5px 7px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.selectholder {
  position: relative;
  display: inline-block;
}

hr.solid {
  border-top: 1px solid white;
  margin-bottom: 10%;
}